# Default values for spring-app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

namespace: spring-app

image:
  repository: "yadnesh082024/github-actions-backend"
  pullPolicy: IfNotPresent
  tag: main-20240925131929

service:
  type: NodePort
  port: 80
  # Specify your desired node port here. The range of valid ports is 30000-32767
  nodePort: 30003

containers:
  port: 8080